## Python Comprehension
### 한 sequence가 다른 sequence(iterable object)로부터 변형되어 구축될 수 있게한 기능
### iterable한 오브젝트를 생성하기 위한 방법중 하나로 파이썬에서 사용할 수 있는 유용한 기능중 하나
* Python2 : List Comprehension 만 지원
* Python3 : Dictionary Comprehension과 Set Comprehension추가 지원
* Generator Comprehension이라 일컫는 Generator Expression

### List Comprehension
*한번 익숙해지면, List Comprehension이 없는 다른 프로그래밍 언어는 쓰기 싫어진다고 함

<img src="http://www.thagomizer.com/img/list_comprehension.png">

In [0]:
# 20까지의 짝수를 출력하기 위해 다음과 같은 List Comprehension 사용
evens = [x * 2 for x in range(11)]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#### 길이가 1~10 인 정사각형 중에 길이가 짝수인 정사각형의 넓이 구하기

In [0]:
# 그냥 for문 이용
areas = []
for i in range(1,11):
    if i % 2 == 0:
        areas.extend([i*i])

print('areas :', areas)  # [4, 16, 36, 64, 100]

areas : [4, 16, 36, 64, 100]

In [0]:
# list comprehension 방법
areas2 = [i * i for i in range(1,11) if i % 2 ==0]
print('areas2 :', areas2)  # [4, 16, 36, 64, 100]

areas2 : [4, 16, 36, 64, 100]

### Dictionary Comprehension
* Dictionary Comprehension은 입력 Sequence로부터 지정된 표현식에 따라 새로운 Dictionary 컬렉션을 빌드하는 것으로, 아래와 같은 문법을 갖는다. Set Comprehension과 거의 비슷하지만, 출력표현식이 Key:Value Pair로 표현된다는 점이 다르며, 결과로 dict 가 리턴된다.

In [0]:
# 두 리스트를 하나의 dict로 합치는 DC. 하나는 key, 또 다른 하나는 value로 사용한다
subjects = ['math', 'history', 'english', 'computer engineering']
scores = [90, 80, 95, 100]
score_dict = {key: value for key, value in zip(subjects, scores)}
# {'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

# 튜플 리스트를 dict 형태로 변환하는 DC
score_tuples = [('math', 90), ('history', 80), ('english', 95), ('computer engineering', 100)]
score_dict = {t[0]: t[1] for t in score_tuples}
# {'math': 90, 'history': 80, 'english': 95, 'computer engineering': 100}

In [0]:
# 번호를 key로 갖고 이름을 value로 가지는 dictionary 만들기
students = ['몽키', '선샤인', '시와', '톰']
for number, name in enumerate(students):
    print('{}번의 이름은 {}입니다'.format(number+1, name))

1번의 이름은 몽키입니다
2번의 이름은 선샤인입니다
3번의 이름은 시와입니다
4번의 이름은 톰입니다

In [0]:
nums = [1, 2, 3, 4, 5]
dict_comprehension = {
    str(n) : "The corresponding key is " + str(n) for n in nums}
for val in dict_comprehension.values():
    print(val)

The corresponding key is 1
The corresponding key is 2
The corresponding key is 3
The corresponding key is 4
The corresponding key is 5

In [0]:
# Dictionary Comprehension
students_dic = {
    '{}번'.format(number+1) : name for number, name in enumerate(students)
}

print(students_dic)

{'1번': '몽키', '2번': '선샤인', '3번': '시와', '4번': '톰'}

In [0]:
students = ['몽키', '선샤인', '시와', '톰']
scores = [85, 92, 78, 100]

score_dic = {
    students : score for students, score in zip(students, scores)
}

print(score_dic)

{'몽키': 85, '선샤인': 92, '시와': 78, '톰': 100}

### Set Comprehension
* Set Comprehension은 입력 Sequence로부터 지정된 표현식에 따라 새로운 Set 컬렉션을 빌드하는 것으로, 아래와 같은 문법을 갖는다. List Comprehension과 거의 비슷하지만, 결과가 Set {...}으로 리턴된다는 점이 다르다.

In [0]:
# 다음의 LC는 중복된 값들을 포함한다
no_primes = [j for i in range(2, 9) for j in range(i * 2, 50, i)]
print(no_primes)

# SC를 사용하면 중복값이 없는 집합을 얻을 수 있다
no_primes2 = {j for i in range(2, 9) for j in range(i * 2, 50, i)}
print(no_primes2)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 10, 15, 20, 25, 30, 35, 40, 45, 12, 18, 24, 30, 36, 42, 48, 14, 21, 28, 35, 42, 49, 16, 24, 32, 40, 48]
{4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49}

In [0]:
names = [ 'Bob', 'JOHN', 'alice', 'bob', 'ALICE', 'J', 'Bob' ]
{ name[0].upper() + name[1:].lower() for name in names if len(name) > 1 }

{'Alice', 'Bob', 'John'}

### Generator Comprehension(Generator Equation)

In [0]:
gen = (x**2 for x in range(10))
print(gen)
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

<generator object <genexpr> at 0x104aa1bf8>
0
1
4
9
16
25
36
49
64
81

In [0]:
gen = (x**2 for x in range(10))
sum_of_squares = sum(gen)
print(sum_of_squares)

285

* list, dict, set 과같은 자료형에서 다양하게 이용가능 소괄호를 이용하여 generator객체를 만들어 이용
<img src="https://t1.daumcdn.net/cfile/tistory/9967F2455B2145EB23">

### Reference
* http://www.thagomizer.com/blog/2018/03/21/a-rubyist-learns-list-comprehensions.html
* https://mingrammer.com/introduce-comprehension-of-python/
* https://wayhome25.github.io/python/2017/02/26/py-17-comprehension/
* https://python-3-patterns-idioms-test.readthedocs.io/en/latest/Comprehensions.html
* https://www.dataquest.io/blog/python-dictionary-tutorial/